@charset "UTF-8";
/* Archivo que presenta las variables iniciales y el reset del css */
/* Tipografía */
/* Tamaño de tipografías 1rem = 10px */
/* Responsive breakpoints */
/* Mockups target */
:root {
  /* Colors */
  --primary-color:#FFEFE7; /* BG de la pagina */
  --secondary-color:#FFDAC6;
  --tertiary-color:#BABD8D;
  --quaternary-color:#FA9500;
  --primary-text-color:#7C6A0A;
  --secondary-text-color:#E86424;
  font-size: 62.5%;
}

/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; /* opcional */
  -o-object-position: center center;
     object-position: center center; /* opcional */
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1.6rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--primary-text-color);
  font-smooth: always; /* opcional */
  -webkit-font-smoothing: antialiased; /* opcional */
  -moz-osx-font-smoothing: grayscale; /* opcional */
  background-color: var(--primary-color);
}

/* Archivo que guarda los mixin y funciones en caso de tenerlas */
/* $#device: "mobile"|"tablet"|"desktop" */
/* Archivo que implementa los módulos utilizando BEM */
nav, main {
  padding: 0 6.9230769231vw;
}

/*Permite agregar descripción a los botones con icono para lectores de pantalla*/
.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.nav {
  width: 100%;
  height: 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nav__title {
  font-size: min(max(1.6rem, 5.1vw), 2rem);
  font-weight: 400;
  line-height: calc(min(max(1.6rem, 5.1vw), 2rem) * 1.5);
  color: inherit;
}

.icons-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.icons-wrapper__menu {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: var(--primary-text-color);
  -webkit-mask-image: url(../assets/svg/menu.svg);
          mask-image: url(../assets/svg/menu.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
}
.icons-wrapper__profile {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: var(--primary-text-color);
  -webkit-mask-image: url(../assets/svg/profile.svg);
          mask-image: url(../assets/svg/profile.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
  display: none;
}
.icons-wrapper__wishlist {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: var(--primary-text-color);
  -webkit-mask-image: url(../assets/svg/heart.svg);
          mask-image: url(../assets/svg/heart.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
  display: none;
}
.icons-wrapper__cart {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: var(--primary-text-color);
  -webkit-mask-image: url(../assets/svg/shopping-cart.svg);
          mask-image: url(../assets/svg/shopping-cart.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
  display: none;
}

.header__holder {
  margin-top: min(max(2.2rem, 5.6vw), 3.3rem);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: min(max(2.2rem, 5.6vw), 3.3rem);
}
.header__picture {
  border-radius: 0.7rem;
}
.header__title {
  font-size: min(max(2.8rem, 7.1vw), 4rem);
  font-weight: 600;
  line-height: calc(min(max(2.8rem, 7.1vw), 4rem) * 1.5);
  color: inherit;
}
.header__message {
  font-size: min(max(0.9rem, 3vw), 1.6rem);
  font-weight: 400;
  line-height: calc(min(max(0.9rem, 3vw), 1.6rem) * 1.5);
  color: inherit;
}
.header__button {
  width: 40%;
  padding: min(max(0.9rem, 3vw), 1.6rem) min(max(1.6rem, 5.1vw), 2rem);
  margin: 0 auto;
  text-align: start;
  font-size: min(max(0.9rem, 3vw), 1.6rem);
  font-weight: bold;
  line-height: calc(min(max(0.9rem, 3vw), 1.6rem) * 1.5);
  color: white;
  background-color: var(--quaternary-color);
  border-style: none;
  border-radius: min(max(1.6rem, 5.1vw), 2rem);
}

.products-section {
  margin: min(max(2.2rem, 5.6vw), 3.3rem) 0;
}
.products-section__title {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 500;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: inherit;
}

.products-galery {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: initial;
  gap: min(max(1.6rem, 5.1vw), 2rem);
  overflow-x: scroll;
}

.producto-card {
  position: relative;
  min-width: 147px;
  width: 46.1538461538vw;
  padding: 7.6923076923vw 6.1538461538vw 0;
  scroll-snap-align: start;
  background-color: var(--secondary-color);
  border-radius: 3%;
}
.producto-card__favorite-button {
  position: absolute;
  top: 1.7948717949vw;
  right: 1.7948717949vw;
  width: 4.358974359vw;
  aspect-ratio: 1/1;
  background-color: var(--primary-text-color);
  -webkit-mask-image: url(../assets/svg/heart.svg);
          mask-image: url(../assets/svg/heart.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
}
.producto-card__imagen {
  width: 100%;
  aspect-ratio: 13/16;
  border-radius: 4%;
  margin-bottom: min(max(0.9rem, 3vw), 1.6rem);
}
.producto-card__title {
  font-size: min(max(0.9rem, 3vw), 1.6rem);
  font-weight: bold;
  line-height: calc(min(max(0.9rem, 3vw), 1.6rem) * 1.5);
  color: inherit;
}
.producto-card__description {
  font-size: min(max(0.75rem, 2.3vw), 2rem);
  font-weight: 400;
  line-height: calc(min(max(0.75rem, 2.3vw), 2rem) * 1.5);
  color: inherit;
}

.about-us-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4vh;
  margin: min(max(1.6rem, 5.1vw), 2rem) 0;
}
.about-us-section__title {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 500;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: inherit;
}
.about-us-section__holder {
  width: 100%;
}
.about-us-section__card {
  width: 50%;
  margin: 0 auto;
}
.about-us-section__img {
  width: 50%;
  margin: 0 auto;
}
.about-us-section__description {
  font-size: min(max(0.9rem, 3vw), 1.6rem);
  font-weight: 500;
  line-height: calc(min(max(0.9rem, 3vw), 1.6rem) * 1.5);
  color: var(--secondary-text-color);
  text-align: center;
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vh;
  margin: min(max(1.6rem, 5.1vw), 2rem) 0;
}
.gallery__title {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 500;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: inherit;
}
.gallery__img {
  width: 99%;
  aspect-ratio: 1/1;
  border-radius: 4%;
}

.location {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5vw;
  margin: min(max(1.6rem, 5.1vw), 2rem) 0;
}
.location__title {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 500;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: inherit;
}
.location__img {
  aspect-ratio: 11/16;
}
.location__direction-name {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 400;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: var(--secondary-text-color);
}
.location__direction {
  font-size: min(max(1.6rem, 5.1vw), 2rem);
  font-weight: 400;
  line-height: calc(min(max(1.6rem, 5.1vw), 2rem) * 1.5);
  color: var(--secondary-text-color);
}

.footer {
  background-color: var(--quaternary-color);
  width: 100%;
  padding: min(max(1.6rem, 5.1vw), 2rem);
}
.footer__title {
  font-size: min(max(2.2rem, 5.6vw), 3.3rem);
  font-weight: 500;
  line-height: calc(min(max(2.2rem, 5.6vw), 3.3rem) * 1.5);
  color: white;
}
.footer__li {
  font-size: min(max(0.9rem, 3vw), 1.6rem);
  font-weight: 400;
  line-height: calc(min(max(0.9rem, 3vw), 1.6rem) * 1.5);
  color: white;
  margin: 2.5641025641vw 0;
}

.social-media {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-top: min(max(0.9rem, 3vw), 1.6rem);
}
.social-media__instagram-button {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: white;
  -webkit-mask-image: url(../assets/img/instagram-logo.png);
          mask-image: url(../assets/img/instagram-logo.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
}
.social-media__facebook-button {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: white;
  -webkit-mask-image: url(../assets/img/facebook-logo.png);
          mask-image: url(../assets/img/facebook-logo.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
}
.social-media__twitter-button {
  width: 3.2rem;
  aspect-ratio: 1/1;
  background-color: white;
  -webkit-mask-image: url(../assets/img/twitter-logo.png);
          mask-image: url(../assets/img/twitter-logo.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  border: none;
}

/* Archivo que implementa los modificadores de BEM y media query */
.producto-card--deco {
  background-color: var(--tertiary-color);
}
.producto-card__favorite-button--deco {
  background-color: white;
}
.producto-card__title--deco {
  color: white;
}
.producto-card__description--deco {
  color: white;
}

@media screen and (min-width: 480px) {
  .header__picture {
    aspect-ratio: 7/9;
  }
  .about-us-section__holder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
  }
  .about-us-section__description {
    width: 60%;
    margin: 0 auto;
  }
  .gallery {
    flex-direction: row;
  }
  .gallery__title {
    width: 100%;
  }
  .gallery__img-holder {
    width: 45%;
  }
  .location {
    gap: 2vh;
  }
  .location__img {
    aspect-ratio: 1/1;
  }
}
@media screen and (min-width: 960px) {
  nav, main {
    padding: 4.5138888889vw;
  }
  .nav {
    height: 9.375vw;
  }
  .nav__title {
    font-size: min(max(2rem, 2.1vw), 3rem);
    line-height: calc(min(max(2rem, 2.1vw), 3rem) * 1.5);
  }
  .icons-wrapper__menu {
    display: none;
  }
  .icons-wrapper__profile {
    display: block;
    width: 3.5416666667vw;
  }
  .icons-wrapper__wishlist {
    display: block;
    width: 3.5416666667vw;
  }
  .icons-wrapper__cart {
    display: block;
    width: 3.5416666667vw;
  }
  .header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
  .header__picture-holder {
    width: 47%;
  }
  .header__holder {
    width: 47%;
  }
  .header__title {
    font-size: min(max(4rem, 4.2vw), 6rem);
    line-height: calc(min(max(4rem, 4.2vw), 6rem) * 1.5);
  }
  .header__message {
    font-size: min(max(1.6rem, 1.7vw), 2.5rem);
    line-height: calc(min(max(1.6rem, 1.7vw), 2.5rem) * 1.5);
  }
  .header__button {
    margin: 0;
    width: 50%;
    max-width: 26rem;
    font-size: min(max(1.6rem, 1.7vw), 2.5rem);
    line-height: calc(min(max(1.6rem, 1.7vw), 2.5rem) * 1.5);
    border-radius: min(max(2rem, 2.1vw), 3rem);
  }
  .products-section {
    margin: min(max(3.3rem, 3.5vw, 5rem)) 0;
  }
  .products-section__title {
    font-size: min(max(3.3rem, 3.5vw, 5rem));
    line-height: calc(min(max(3.3rem, 3.5vw, 5rem)) * 1.5);
    font-weight: 400;
  }
  .products-galery {
    grid-template-columns: repeat(auto-fit, 30%);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-flow: row;
  }
  .producto-card {
    margin: 1rem auto;
    padding: 3.9583333333vw 2.8472222222vw;
    width: 22.5vw;
  }
  .producto-card__favorite-button {
    width: 2.1527777778vw;
    top: 0.6944444444vw;
    right: 0.6944444444vw;
  }
  .producto-card__title {
    font-size: min(max(1.6rem, 1.7vw), 2.5rem);
    line-height: calc(min(max(1.6rem, 1.7vw), 2.5rem) * 1.5);
  }
  .producto-card__description {
    font-size: min(max(1.6rem, 5.1vw), 2rem);
    line-height: calc(min(max(1.6rem, 5.1vw), 2rem) * 1.5);
  }
  .about-us-section__holder {
    margin: 5vh 0;
  }
  .about-us-section__card {
    display: flex;
    flex-flow: row visible;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .about-us-section__img {
    width: 30%;
    margin: 0;
  }
  .about-us-section__description {
    margin: 0;
    font-size: min(max(2rem, 2.1vw), 3rem);
    line-height: calc(min(max(2rem, 2.1vw), 3rem) * 1.5);
  }
  .gallery__img-holder {
    width: 32%;
  }
  .location__img {
    aspect-ratio: auto;
  }
  .footer__title {
    font-size: min(max(2rem, 2.1vw), 3rem);
    line-height: calc(min(max(2rem, 2.1vw), 3rem) * 1.5);
  }
  .footer__li {
    font-size: min(max(1.6rem, 1.7vw), 2.5rem);
    line-height: calc(min(max(1.6rem, 1.7vw), 2.5rem) * 1.5);
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */