/* Archivo que presenta las variables iniciales y el reset del css */
/* Tipografía */
$primary-font       : 'IBM Plex Sans' , sans-serif;
// $secondary-font     : ;

/* Tamaño de tipografías 1rem = 10px */
$font-size-small    : min(max(.9rem , 3vw), 1.6rem);        //12px en 390px
$font-size-medium   : min(max(1.6rem , 5.1vw), 2rem);       //20px
$font-size-big      : min(max(2.2rem , 5.6vw), 3.3rem);     //22px
$font-size-h1       : min(max(2.8rem, 7.1vw), 4rem);        //28px

$desktop-font-size-small    : min(max(1.6rem , 1.7vw), 2.5rem); //25px en 1440px
$desktop-font-size-medium   : min(max(2rem, 2.1vw), 3rem);      //30px 
$desktop-font-size-big      : min(max(3.3rem, 3.5vw, 5rem));    //50px
$desktop-font-size-h1       : min(max(4rem, 4.2vw), 6rem);      //60px

/* Responsive breakpoints */
$min-mobile-width   : 320px;
$min-tablet-width   : 480px;
$min-desktop-width  : 960px;
$max-desktop-width  : 1440px;
// $desktop-1080-with  : 1920px;

/* Mockups target */
$mobile-with        : 390px;
$tablet-with        : 0;
$desktop-with       : 1440px;

:root{
    /* Colors */
    --primary-color      :#FFEFE7; /* BG de la pagina */
    --secondary-color    :#FFDAC6;
    --tertiary-color     :#BABD8D;
    --quaternary-color   :#FA9500;

    --primary-text-color :#7C6A0A;
    --secondary-text-color:#E86424;

    // --selection-color: ;
    // --selection-bg-color: ;

    font-size   : 62.5%;
}
// /* Modo oscuro */
// @media (prefers-color-scheme: dark) {
//     :root{
//         --primary-color     :;
//         --secondary-color   :;
//         --tertiary-color    :;
//         --quaternary-color  :;

//         --primary-text-color:;
//         --secondary-text-color:;
//         --selection-color   :;
//         --selection-bg-color:;
//     }
// }
// /* Modo alto contraste */
// @media (prefers-contrast: high){
//     :root{
//         --primary-color     :;
//         --secondary-color   :;
//         --tertiary-color    :;
//         --quaternary-color  :;

//         --primary-text-color:;
//         --secondary-text-color:;
//         --selection-color   :;
//         --selection-bg-color:;
//     }
// }
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation       : none !important;
    transition      : none !important;
  }
}


/* Reset*/
* { 
    margin          : 0;
    padding         : 0;
    border          : 0;
    box-sizing      : border-box;
    vertical-align  : baseline;   
}
img , picture , video , iframe , figure{
    max-width       : 100%;
    width           : 100%;
    display         : block;
    object-fit      : cover;            /* opcional */
    object-position : center center;    /* opcional */
}
a {
    display         : block;
    text-decoration : none;
    color           : inherit;
    font-size       : inherit;
}   
p a {
    display         : inline;
}
li {
    list-style-type : none;
}
html {
    scroll-behavior : smooth;
}
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size       : 1.6rem;
    font-weight     : inherit;
    font-style      : inherit;
    text-decoration : none;
    color           : inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
	content         : '';
	content         : none;
}
// ::selection {
//     background-color: var(--selection-bg-color);
//     color           : var(--selection-color);
// }
form , input, textarea, select , button , label{
    font-family     : inherit;
    font-size       : inherit;
    hyphens         : auto;
    background-color: transparent;
    color           : inherit;
    display         : block;
    appearance      : none;
}
table , tr , td {
    border-collapse : collapse;
    border-spacing  : 0;
}
svg{
    width           : 100%;
    display         : block;
    fill            : currentColor;
}   
body {
    min-height  : 100vh;
    min-width: $min-mobile-width;
    max-width: $max-desktop-width;
    font-family : $primary-font;
    color       : var(--primary-text-color);
    font-smooth: always;/* opcional */
    -webkit-font-smoothing: antialiased;/* opcional */
    -moz-osx-font-smoothing: grayscale;/* opcional */
    background-color: var(--primary-color);
}