/* Archivo que guarda los mixin y funciones en caso de tenerlas */
@use '_base';
@use 'sass:math';

@mixin flex($direction  : column, 
            $corte      : wrap,
            $principal  : flex-start,
            $secundario : center,
            $gap: 0)
{
    display         : flex;
    flex-flow       : $direction $corte;
    justify-content : $principal;
    align-items     : $secundario;
    gap: $gap;
}
@mixin icon($width: 3.2rem, 
            $color: var(--primary-text-color),
            $URL: null)
{
    width           : $width;
    aspect-ratio    : 1/1;
    background-color: $color;
    mask-image      : url(#{$URL});
    mask-repeat     : no-repeat;
    mask-size       : 100% 100%;
    border          : none;

}
@mixin fontSetting( $size   : base.$font-size-small, 
                    $weight : 400, 
                    $color  : inherit)
{
    font-size   : $size;
    font-weight : $weight;
    line-height : calc($size * 1.5);
    color       : $color;
}

@mixin fontSizeChange($size: base.$desktop-font-size-small){
    font-size   : $size;
    line-height : calc($size * 1.5);
}

/* $#device: "mobile"|"tablet"|"desktop" */
@function px_to_vw($px, $device : "mobile"){
    @if ($device == "mobile") {
        @return math.div($px, base.$mobile-with) * 100vw;
    }
    @if ($device == "tablet") {
        @return math.div($px, base.$tablet-with) * 100vw;
    }
    @if ($device == "desktop") {
        @return math.div($px, base.$desktop-with)* 100vw;
    }
    @return  0;
}