/* Archivo que implementa los módulos utilizando BEM */
@use 'base';
@use 'layout';

nav, main{
    padding: 0 layout.px_to_vw(27px);
}
main{
    max-width: base.$max-desktop-width;
    margin: 0 auto;
}
/*Permite agregar descripción a los botones con icono para lectores de pantalla*/
.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    position: absolute; 
    overflow: hidden; 
    white-space: nowrap; 
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
}
.nav{
    width: 100%;
    height: layout.px_to_vw(78px);
    @include layout.flex($direction : row, $principal : space-between);

    &__title{
        @include layout.fontSetting(base.$font-size-medium);
    }
}
.icons-wrapper{
    @include layout.flex($direction : row, $principal : space-between, $gap: 4rem);

    &__menu{
        @include layout.icon($URL: "../assets/svg/menu.svg");
    }

    &__profile{
        @include layout.icon($URL: "../assets/svg/profile.svg");
        display: none;
    }
    &__wishlist{
        @include layout.icon($URL: "../assets/svg/heart.svg");
        display: none;
    }
    &__cart{
        @include layout.icon($URL: "../assets/svg/shopping-cart.svg");
        display: none;
    }
}
.header{
    &__holder{
        margin-top: base.$font-size-big;
        @include layout.flex($secundario : flex-start, $gap: base.$font-size-big);
    }
    &__picture{
        border-radius: .7rem;
    }
    &__title{
        @include layout.fontSetting(base.$font-size-h1, 600);
    }
    &__message{
        @include layout.fontSetting;
    }
    &__button{
        width: 40%;
        padding: base.$font-size-small base.$font-size-medium;
        margin: 0 auto;
        text-align: start;
        @include layout.fontSetting($weight : bold, $color : white);
        background-color: var(--quaternary-color);
        border-style: none;
        border-radius: base.$font-size-medium;
    }
}
.products-section{
    margin: base.$font-size-big 0;

    &__title{
        @include layout.fontSetting(base.$font-size-big, 500);
    }
}
.products-galery{ 
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: initial;
    gap: base.$font-size-medium;
    overflow-x: scroll;
}
.producto-card{
    position: relative;
    min-width: 147px;
    width: layout.px_to_vw(180px);
    padding: layout.px_to_vw(30px) layout.px_to_vw(24px) 0;
    scroll-snap-align: start;
    background-color: var(--secondary-color);
    border-radius: 3%;

    &__favorite-button{
        position: absolute;
        top: layout.px_to_vw(7px);
        right: layout.px_to_vw(7px);
        @include layout.icon($width : layout.px_to_vw(17px), $URL: "../assets/svg/heart.svg");
    }
    &__imagen{
        width: 100%;
        aspect-ratio: 13/16;
        border-radius: 4%;
        margin-bottom: base.$font-size-small;
    }
    &__title{
        @include layout.fontSetting($weight: bold);
    }
    &__description{
        @include layout.fontSetting(min(max(.75rem , 2.3vw), 2rem));
    }
}
.about-us-section{
    @include layout.flex($secundario: flex-start, $gap: 4vh);
    margin: base.$font-size-medium 0;

    &__title{
        @include layout.fontSetting(base.$font-size-big, 500);
    }
    &__holder{
        width: 100%;
    }
    &__card{
        width: 50%;
        margin: 0 auto;
    }
    &__img{
        width: 50%;
        margin: 0 auto;
    }
    &__description{
        @include layout.fontSetting(base.$font-size-small, 500, var(--secondary-text-color));
        text-align: center;
    }
}
.gallery{
    @include layout.flex($secundario: flex-start, $gap: 2vh);
    margin: base.$font-size-medium 0;

    &__title{
        @include layout.fontSetting(base.$font-size-big, 500);
    }
    &__img{
        width: 99%;
        aspect-ratio: 1/1;
        border-radius: 4%;
    }
}
.location{
    @include layout.flex($secundario: flex-start, $gap: 5vw);
    margin: base.$font-size-medium 0;

    &__title{
        @include layout.fontSetting(base.$font-size-big, 500);
    }
    &__img{
        aspect-ratio: 11/16;
    }
    &__direction-name{
        @include layout.fontSetting(base.$font-size-big, 400, var(--secondary-text-color));
    }
    &__direction{
        @include layout.fontSetting(base.$font-size-medium, 400, var(--secondary-text-color));
    }
}
.footer{
    background-color: var(--quaternary-color);
    width: 100%;
    padding: base.$font-size-medium;

    &__title{
        @include layout.fontSetting(base.$font-size-big, 500, white);
    }
    &__li{
        @include layout.fontSetting(base.$font-size-small, 400, white);
        margin: layout.px_to_vw(10px) 0;
    }

}
.social-media{
    @include layout.flex($direction: row ,$principal: flex-start, $gap: 1rem);
    padding-top: base.$font-size-small;

    &__instagram-button{
        @include layout.icon($color: white, $URL: "../assets/img/instagram-logo.png");
    }
    &__facebook-button{
        @include layout.icon($color: white, $URL: "../assets/img/facebook-logo.png");
    }
    &__twitter-button{
        @include layout.icon($color: white, $URL: "../assets/img/twitter-logo.png");
    }
}