/* Archivo que implementa los modificadores de BEM y media query */
@use '_base';
@use '_layout';

.producto-card{
    &--deco{
        background-color: var(--tertiary-color);
    }
    &__favorite-button--deco{
        background-color: white;
    }
    &__title--deco{
        color: white;
    }
    &__description--deco{
        color: white;
    }
}

@media screen and (min-width: base.$min-tablet-width) {
    .header__picture{ aspect-ratio: 7/9; }
    .about-us-section{
        &__holder{ @include layout.flex(row, nowrap, flex-start, stretch); }
        &__description{
            width: 60%;
            margin: 0 auto;
        }
    }
    .gallery{
        flex-direction: row;
        &__title{ width: 100%;}
        &__img-holder{ width: 45%; }
    }
    .location{
        gap: 2vh;
        &__img{ aspect-ratio: 1/1; }
    }
}

@media screen and (min-width: base.$min-desktop-width) {
    nav, main{
        padding: 0 layout.px_to_vw(65px, "desktop");
    }
    .nav{
        height: layout.px_to_vw(135px, "desktop");
        max-height: 180px;
        &__title{
            @include layout.fontSizeChange(base.$desktop-font-size-medium);
        }
    }
    .icons-wrapper{
        &__menu{ 
            display: none;
        }
        &__profile{ 
            display: block;
            width: layout.px_to_vw(51px, "desktop");
        }
        &__wishlist{ 
            display: block;
            width: layout.px_to_vw(51px, "desktop");
        }
        &__cart{ 
            display: block;
            width: layout.px_to_vw(51px, "desktop"); 
        }
    }
    .header{
        @include layout.flex(row-reverse, nowrap, space-between, flex-start);
        &__picture-holder{
            width: 47%;
        }
        &__holder{
            width: 47%;
        }
        &__title{
            @include layout.fontSizeChange(base.$desktop-font-size-h1);
        }
        &__message{
            @include layout.fontSizeChange;
        }
        &__button{
            margin: 0;
            width: 50%;
            max-width: 26rem;
            @include layout.fontSizeChange;
            border-radius: base.$desktop-font-size-medium;
        }
    }
    .products-section{
        margin: base.$desktop-font-size-big 0;
    
        &__title{
            @include layout.fontSizeChange(base.$desktop-font-size-big);
            font-weight: 400;
        }
    }
    .products-galery{ 
        grid-template-columns: repeat(auto-fit, 30%);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-auto-flow: row;
    }
    .producto-card{
        margin: 1rem auto;
        padding: layout.px_to_vw(57px, "desktop") layout.px_to_vw(41px, "desktop");
        width: layout.px_to_vw(324px, "desktop");
        max-width: 432px;

        &__favorite-button{
            width: layout.px_to_vw(31px, "desktop");
            top: layout.px_to_vw(10px, "desktop");
            right: layout.px_to_vw(10px, "desktop");
        }
        &__title{
            @include layout.fontSizeChange(base.$desktop-font-size-small);
        }
        &__description{
            @include layout.fontSizeChange(base.$font-size-medium);
        }
    }
    .about-us-section{
        &__holder{
            margin: 5vh 0;
        }
        &__card{
            @include layout.flex(row, visible, center, center);
        }
        &__img{
            width: 30%;
            margin: 0;
        }
        &__description{
            margin: 0;
            @include layout.fontSizeChange(base.$desktop-font-size-medium)
        }
    }
    .gallery__img-holder{ width: 32%; }    
    .location__img{ 
        aspect-ratio: auto; 
    }
    .footer{
        &__title{
            @include layout.fontSizeChange(base.$desktop-font-size-medium);
        }
        &__li{
            @include layout.fontSizeChange(base.$desktop-font-size-small);
            margin: 0;
        }
    }
}