$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$quaternary-color: #FA9500;
$primary-text-color:#7C6A0A;

$font-size-small: 1.2rem;
$font-height-small: 1.8rem;

$font-size-medium: 2rem;
$font-height-medium: 2.5rem;

$font-size-big: 2.2rem;
$font-height-big: 2.8rem;

$min-mobile-width: 360px;

@mixin icon($iconWidth: 3.2rem, 
            $iconColor: $primary-text-color,
            $iconURL: null){
    width: $iconWidth;
    aspect-ratio: 1/1;
    background-color: $primary-text-color;
    mask-image: $iconURL;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    border: none;

}
@mixin fontSetting($fontSize: $font-size-small, 
                    $fontWeight: 400, 
                    $fontLine: $font-height-small, 
                    $fontColor: $primary-text-color){
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $fontLine;
    color: $fontColor;

}

// Recuerda agregar esto a todos tus proyectos web.
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'IBM Plex Sans' , sans-serif;
    font-size: 62.5%;
    background-color: $primary-color;
    width: 100%;
    min-width: $min-mobile-width;
    padding: 0 5vw;
}
.visually-hidden:not(:focus):not(:active) {
    width: 1px;
    height: 1px;
    position: absolute; 
    overflow: hidden; 
    white-space: nowrap; 
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
}
// {Hasta aquí}

nav{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        @include fontSetting($fontSize: $font-size-medium,      
                            $fontLine: $font-height-medium);
    }
    .icons{
        display: flex;
        gap: 1.5rem;

        .menu{
            @include icon($iconURL: url("../assets/svg/menu.svg"));
        }
        .profile{
            @include icon($iconURL: url("../assets/svg/profile.svg"));
            display: none;
        }
        .wishlist{
            @include icon($iconURL: url("../assets/svg/heart.svg"));
            display: none;
        }
        .cart{
            @include icon($iconURL: url("../assets/svg/shopping-cart.svg"));
            display: none;
        }
    }
}

//main section
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $font-size-big;

    img{
        width: 100%;
        border-radius: 20px;
    }
    
    .info-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h1{
            @include fontSetting(2.8rem, 600, 3rem, $primary-text-color);
        }
        p{
            @include fontSetting($font-size-small, 400, $font-height-small, $primary-text-color)
        }
        button{
            width: 45%;
            padding: 1.5rem;
            margin: 0 auto;
            @include fontSetting($font-size-small, 300, $font-height-small, white);
            background-color: $quaternary-color;
            border-style: none;
            border-radius: 35px;
        }
    }
    
}

.health-products-section{
    width: 100%;
    margin: $font-size-big 0;
    h2{
        @include fontSetting($font-size-big, 500, $font-height-big, $primary-text-color);
    }

    .products-galery{
        padding-top: $font-size-medium;
        display: flex;
        gap: $font-size-medium;
        overflow-x: scroll;
        scroll-snap-type: x proximity;

        .producto_card{
            min-width: 180px;
            min-height: 270px;
            padding: 6% 6%;
            position: relative;
            scroll-snap-align: start;
            background-color: $secundary-color;
            border-radius: 4px;

            .favorite{
                @include icon($iconWidth: 1.7rem ,$iconURL: url("../assets/svg/heart.svg"));
                position: absolute;
                top: .7rem;
                right: .7rem;
            }
            img{
                width: 100%;
                aspect-ratio: 2/3;
                border-radius: 4px;
                margin-bottom: $font-size-small;
            }
            h3{
                @include fontSetting($fontWeight: bold);
            }
            p{
                @include fontSetting($fontSize: .8rem, $fontLine: 1.2rem);
            }
        }
    }
}

footer{
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    height: 10vh;
}